.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
android/app/google-services.json
android/key.properties
android/app/proguard-rules.pro
ios/Runner/GoogleService-Info.plist
ios/Runner/Info.plist
